API_KEY=api_key
SECRET=secret
PASSPHRASE=passphrase
API_URI='https://okx.com'
CANDLES_PATH='/api/v5/market/history-candles'
TICKERS_PATH='/api/v5/market/tickers?instType=SPOT'
CURRENCIES_PATH='/api/v5/asset/currencies'
WSS_ENDPOINT=wss://ws.okx.com:8443/ws/v5/public

BASE_CURRENCY=USDT

CURRENCIES=[BTC,ETH,TON,SOL,XRP]
CANDLES_BAR=1H